## Dictionaries, Access Data

The goal for this homework is to see the relevant journalistic uses for what we learned in class in week 2.

1. access specific data within a dataset,
2. break down larger datasets into smaller chunks (subset),

## Working with List of Dictionaries

## Natural disasters list

The Small Business Administration has a list of natural disasters that cause extensive economic damage. Run the next cell to pull the list into memory

In [4]:
disasters = [
        "Landslides",
        "Earthquake",
        "Wildfires",
        "Tornadoes",
        "Hurricane",
        "Wind Storm",
        "Winter Freeze",
        "Ice Storm",
        "Drought",
        "Tsunami",
        "Flash floods",
        "Mudslides",
        "Torrential rainfall",
        "Riverine floods",
        "Tidal Surge"
         ]

In [5]:
## call the disaster list here
disasters

['Landslides',
 'Earthquake',
 'Wildfires',
 'Tornadoes',
 'Hurricane',
 'Wind Storm',
 'Winter Freeze',
 'Ice Storm',
 'Drought',
 'Tsunami',
 'Flash floods',
 'Mudslides',
 'Torrential rainfall',
 'Riverine floods',
 'Tidal Surge']

In [6]:
## the first item in the list
disasters [0]

'Landslides'

In [7]:
## call the penultimate item (without manually counting the number of items)
disasters [-2]

'Riverine floods'

### Clarification:

For the next two questions, I am referring to numerical positions rather than zero-indexed positions. In other words, you will have to translate the numerical position into zero-indexed positions in your slicing.

In [12]:
## create a new list called disasters_subset that holds the 3rd to 6th items inclusive
disasters_subset = disasters [2:6]
disasters_subset

['Wildfires', 'Tornadoes', 'Hurricane', 'Wind Storm']

In [15]:
## create a new list called disasters_subset2 that holds the 2nd through 8th items
disasters_subset2 = disasters [1:8]
disasters_subset2

['Earthquake',
 'Wildfires',
 'Tornadoes',
 'Hurricane',
 'Wind Storm',
 'Winter Freeze',
 'Ice Storm']

You realize that the disasters from "Tsunami" to the end of the list are forms of water damage.

Programmatically create a new list called ```water_incidents``` that includes all the disasters from "Tsunami" to "Tidal Surge".

- Do NOT manually count to figure out the index position of "Tsunami".
- Do NOT manually type out a new list.

In [18]:
#identifico la posici√≥n de Tsunami
disasters.index("Tsunami")

9

In [19]:
water_incidents = disasters [disasters.index("Tsunami"):]
water_incidents

['Tsunami',
 'Flash floods',
 'Mudslides',
 'Torrential rainfall',
 'Riverine floods',
 'Tidal Surge']

## Accessing data in dictionaries

The following ```dictionary``` holds all congressional committees.

In [20]:
## run this cell
ag_com = {'committee_name': 'Agriculture',
          'branch': 'house',
          'chair': 'GLENN "GT" THOMPSON',     
  'link': 'https://www.congress.gov/committee/house-agriculture/hsag00'}

In [21]:
ag_com

{'committee_name': 'Agriculture',
 'branch': 'house',
 'chair': 'GLENN "GT" THOMPSON',
 'link': 'https://www.congress.gov/committee/house-agriculture/hsag00'}

In [22]:
## retrieve the committee name
ag_com.get("committee_name")

'Agriculture'

In [23]:
## retrieve the link for more info
ag_com.get("link")

'https://www.congress.gov/committee/house-agriculture/hsag00'

## Congratulations!

You just harnessed the power of Python to accomplish critical foundational skills, including the ability to:
- access specific data within a dataset,
- break down larger datasets into smaller chunks (subset),
- use automation to iterate through tedious, but important tasks.
- iterate through calculations. In a few weeks, you'll be doing this on millions of rows.

## Pandas - Importing data

Please download from Google Drive <a href="https://drive.google.com/file/d/1lN5Eh2wz_DDOlcI7as9gQcmUALNqs0_y/view?usp=share_link">this data</a>.

In [2]:
## import the pandas library in this cell
import pandas as pd

### Ingest the following dataset into this note:

- ```ems_2019_first_6_months.csv``` into a dataframe named ```ems_19_first_df```

In [6]:
## import data and store in dataframe
ems_19_first_df = pd.read_csv ("data/wk4-hw-data/ems_2019_first_6_months.csv")

In [7]:
ems_19_first_df.head(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,190010111,2019-01-01 00:24:51,SICK,6,SICK,6,01/01/2019 12:25:28 AM,Y,37,01/01/2019 12:25:56 AM,...,9.0,2.0,103.0,1.0,12.0,N,N,N,N,chunk10.csv
1,190010112,2019-01-01 00:25:22,DRUG,4,DRUG,4,01/01/2019 12:25:39 AM,Y,17,01/01/2019 12:26:03 AM,...,23.0,9.0,111.0,4.0,13.0,N,N,N,N,chunk10.csv
2,190010113,2019-01-01 00:25:52,DRUG,4,DRUG,4,01/01/2019 12:25:57 AM,Y,5,01/01/2019 12:26:11 AM,...,63.0,45.0,318.0,22.0,8.0,N,N,N,N,chunk13.csv
3,190010114,2019-01-01 00:25:52,OBMAJ,3,OBMAJ,3,01/01/2019 12:26:13 AM,Y,21,01/01/2019 12:26:24 AM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk14.csv
4,190010115,2019-01-01 00:26:03,EDP,7,EDP,7,01/01/2019 12:26:12 AM,Y,9,01/01/2019 12:26:29 AM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk14.csv

In [8]:
## get basic overview of the data
## what datatypes do the different columns hold?
## how many rows and columns are there?
ems_19_first_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754656 entries, 0 to 754655
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CAD_INCIDENT_ID                 754656 non-null  int64
 1   INCIDENT_DATETIME               754656 non-null  object
 2   INITIAL_CALL_TYPE               754656 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     754656 non-null  int64
 4   FINAL_CALL_TYPE                 754656 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       754656 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       749544 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  754656 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    754656 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       748561 non-null  object
 10  FIRST_ON_SCENE_DATETIME         729221 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  754656 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    729068 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   729221 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          522462 non-null  object
 15  FIRST_HOSP_ARRIVAL_DATETIME     518867 non-null  object
 16  INCIDENT_CLOSE_DATETIME         754540 non-null  object
 17  HELD_INDICATOR                  754656 non-null  object
 18  INCIDENT_DISPOSITION_CODE       748265 non-null  float64
 19  BOROUGH                         754656 non-null  object
 20  INCIDENT_DISPATCH_AREA          754656 non-null  object
 21  ZIPCODE                         745086 non-null  float64
 22  POLICEPRECINCT                  745102 non-null  float64
 23  CITYCOUNCILDISTRICT             745071 non-null  float64
 24  COMMUNITYDISTRICT               745101 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         744542 non-null  float64
 26  CONGRESSIONALDISTRICT           745071 non-null  float64
 27  REOPEN_INDICATOR                754656 non-null  object
 28  SPECIAL_EVENT_INDICATOR         754656 non-null  object
 29  STANDBY_INDICATOR               754656 non-null  object
 30  TRANSFER_INDICATOR              754656 non-null  object
 31  source                          754656 non-null  object
dtypes: float64(9), int64(4), object(19)
memory usage: 184.2+ MB

### In three separate cells, ingest the 3 other related datasets into this notebook:

- ```ems_2019_last_6_months.csv``` into a dataframe named ```ems_19_last_df```
- ```ems_2020_first_6_months.csv``` into a dataframe named ```ems_20_first_df```
- ```ems_2020_last_6_months.csv``` into a dataframe named ```ems_20_last_df```

We want to combine all 4 dataframes so we can run an analysis on the combined dataframes

In [12]:
ems_19_last_df = pd.read_csv("data/wk4-hw-data/ems_2019_last_6_months.csv")
ems_20_first_df = pd.read_csv("data/wk4-hw-data/ems_2020_first_6_months.csv")
ems_20_last_df = pd.read_csv("data/wk4-hw-data/ems_2020_last_6_months.csv")

In [13]:
### For last 6 months of 2019
## call the dataframe to see what you have
ems_19_last_df.head(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,191853909,2019-07-04 21:07:53,DRUG,4,DRUG,4,07/04/2019 09:08:16 PM,Y,23,07/04/2019 09:08:26 PM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk157.csv
1,191864927,2019-07-05 21:09:53,MVAINJ,4,MVAINJ,4,07/05/2019 09:10:10 PM,Y,17,07/05/2019 09:10:20 PM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk157.csv
2,191870823,2019-07-06 05:32:12,INJURY,5,INJURY,5,07/06/2019 05:32:49 AM,Y,37,07/06/2019 05:33:40 AM,...,47.0,12.0,212.0,11.0,16.0,N,N,N,N,chunk157.csv
3,191870824,2019-07-06 05:33:49,UNC,2,UNC,2,07/06/2019 05:33:57 AM,Y,8,07/06/2019 05:34:25 AM,...,32.0,9.0,110.0,5.0,13.0,N,N,N,N,chunk157.csv
4,191870897,2019-07-06 06:20:26,INJURY,5,INJURY,5,07/06/2019 06:20:43 AM,Y,17,07/06/2019 06:20:53 AM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk157.csv

In [15]:
### For fist 6 months of 2020
## call the dataframe to see what you have
ems_20_first_df.head(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201012966,2020-04-10 14:36:07,SICK,6,SICK,6,04/10/2020 02:36:37 PM,Y,30,04/10/2020 02:37:36 PM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk148.csv
1,201013858,2020-04-10 17:37:57,SICKFC,6,SICKFC,6,04/10/2020 05:56:30 PM,Y,1113,04/10/2020 05:56:30 PM,...,42.0,17.0,203.0,12.0,15.0,N,N,N,N,chunk148.csv
2,201013897,2020-04-10 17:46:07,HYPTN,7,HYPTN,7,04/10/2020 05:51:43 PM,Y,336,04/10/2020 05:51:47 PM,...,62.0,43.0,311.0,20.0,11.0,N,N,N,N,chunk148.csv
3,201014048,2020-04-10 18:19:32,SICKFC,6,SICKFC,6,04/10/2020 06:19:54 PM,Y,22,04/10/2020 06:23:23 PM,...,52.0,14.0,207.0,10.0,13.0,N,N,N,N,chunk148.csv
4,201014049,2020-04-10 18:19:33,INJURY,5,INJURY,5,04/10/2020 06:25:55 PM,Y,382,04/10/2020 06:26:14 PM,...,103.0,27.0,412.0,28.0,5.0,N,N,N,N,chunk148.csv

In [16]:
### For last 6 months of 2020
## call the dataframe to see what you have
ems_20_last_df.head(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201853344,2020-07-03 19:51:35,MVAINJ,4,MVAINJ,4,07/03/2020 07:52:54 PM,Y,79,07/03/2020 07:53:13 PM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk172.csv
1,201861781,2020-07-04 13:38:45,INJURY,5,INJURY,5,07/04/2020 01:38:55 PM,Y,10,07/04/2020 01:39:01 PM,...,20.0,3.0,107.0,3.0,10.0,N,N,N,N,chunk172.csv
2,201862931,2020-07-04 19:06:08,INJURY,5,INJURY,5,07/04/2020 07:06:34 PM,Y,26,07/04/2020 07:06:53 PM,...,60.0,47.0,313.0,21.0,8.0,N,N,N,N,chunk172.csv
3,201870048,2020-07-05 00:09:31,SICK,6,SICK,6,NaN,N,0,NaN,...,46.0,14.0,205.0,10.0,15.0,N,N,N,N,chunk172.csv
4,201870159,2020-07-05 00:31:24,EDPC,7,SICK,6,NaN,N,0,NaN,...,43.0,17.0,209.0,12.0,15.0,N,N,N,N,chunk172.csv

## Combine the 4 dataframes

In [17]:
## create a list to combine all

In [20]:
ems_list = [ems_19_first_df, ems_19_last_df,ems_20_first_df,ems_19_last_df]

In [21]:
## combine (concat) the dfs
ems_df = pd.concat (ems_list)

In [22]:
ems_df.head(5)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,190010111,2019-01-01 00:24:51,SICK,6,SICK,6,01/01/2019 12:25:28 AM,Y,37,01/01/2019 12:25:56 AM,...,9.0,2.0,103.0,1.0,12.0,N,N,N,N,chunk10.csv
1,190010112,2019-01-01 00:25:22,DRUG,4,DRUG,4,01/01/2019 12:25:39 AM,Y,17,01/01/2019 12:26:03 AM,...,23.0,9.0,111.0,4.0,13.0,N,N,N,N,chunk10.csv
2,190010113,2019-01-01 00:25:52,DRUG,4,DRUG,4,01/01/2019 12:25:57 AM,Y,5,01/01/2019 12:26:11 AM,...,63.0,45.0,318.0,22.0,8.0,N,N,N,N,chunk13.csv
3,190010114,2019-01-01 00:25:52,OBMAJ,3,OBMAJ,3,01/01/2019 12:26:13 AM,Y,21,01/01/2019 12:26:24 AM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk14.csv
4,190010115,2019-01-01 00:26:03,EDP,7,EDP,7,01/01/2019 12:26:12 AM,Y,9,01/01/2019 12:26:29 AM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk14.csv

In [26]:
## how many rows does the combined df have
ems_df.shape[0]

3059943

In [27]:
## get total rows when you add up all the individual dataframes
ems_19_first_df.shape[0] + ems_19_last_df.shape[0] + ems_20_first_df.shape[0] + ems_19_last_df.shape[0]

3059943

In [28]:
## Programmatically (not with a calculator) confirm that their row totals add up to the correct number
ems_df.shape[0] == ems_19_first_df.shape[0] + ems_19_last_df.shape[0] + ems_20_first_df.shape[0] + ems_19_last_df.shape[0]

True

## Ingest Massive Dataset

Step 1. Open ```global_temps.csv``` in Excel first. What happened?

Step 2. Open this data set in Pandas.

In [33]:
## import global_temps.csv into a df called temps_df
temps_df = pd.read_csv ("data/wk4-hw-data/global_temps.csv")
temps_df.head(5)

   Region  Country     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria  Algiers      1    1  1995            64.2
1  Africa  Algeria  Algiers      1    2  1995            49.4
2  Africa  Algeria  Algiers      1    3  1995            48.8
3  Africa  Algeria  Algiers      1    4  1995            46.4
4  Africa  Algeria  Algiers      1    5  1995            47.9

## How many rows of data does this dataset have?

In [34]:
temps_df.shape[0]

2906327

## Targeting an Excel sheet

We need the Customs and Border Protection data in this ```multi-data.xlsx``` workbook.

Note that this is an excerpt of the actual CBP data.

In [37]:
### import it here
CBP_df = pd.read_excel ("data/wk4-hw-data/multi-data.xlsx", sheet_name = "CBP")

In [38]:
## call the top 15 rows
CBP_df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
6,2017-01-20 00:10:00,2017-01-20 10:08:00,9.95,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
7,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
8,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
9,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
10,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
11,2017-01-20 00:30:00,2017-01-21 15:30:00,38.983333,Under 1 year,Male,HONDURAS,SBO,(b)(7)(E ),NaN
12,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
13,2017-01-20 00:35:00,2017-01-20 15:14:00,14.633333,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
14,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,3-5 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN

In [41]:
#Para evitar las primeras filas
CBP_df = pd.read_excel ("data/wk4-hw-data/multi-data.xlsx", sheet_name = "CBP", skiprows= 6)

In [42]:
## call the top 15 rows
CBP_df.head(15)

,date_in,date_out,hours_in_custody,age_group,gender,citizenship,border,sector,field_office
0,2017-01-20 00:10:00,2017-01-20 10:08:00,9.950000,6-8 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN
1,2017-01-20 00:15:00,2017-01-24 17:30:00,113.233333,3-5 years,Female,GUATEMALA,SBO,(b)(7)(E ),NaN
2,2017-01-20 00:22:00,2017-01-24 17:47:00,113.416667,3-5 years,Female,BRAZIL,SBO,(b)(7)(E ),NaN
3,2017-01-20 00:30:00,2017-01-21 06:35:00,30.083333,12-14 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
4,2017-01-20 00:30:00,2017-01-21 13:03:00,36.533333,3-5 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
5,2017-01-20 00:30:00,2017-01-21 15:30:00,38.983333,Under 1 year,Male,HONDURAS,SBO,(b)(7)(E ),NaN
6,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
7,2017-01-20 00:35:00,2017-01-20 15:14:00,14.633333,6-8 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
8,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,3-5 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
9,2017-01-20 00:35:00,2017-01-21 11:52:00,35.266667,9-11 years,Male,GUATEMALA,SBO,(b)(7)(E ),NaN
10,2017-01-20 00:45:00,2017-01-20 13:15:00,12.500000,15-18 years,Male,EL SALVADOR,SBO,(b)(7)(E ),NaN
11,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
12,2017-01-20 01:19:00,2017-01-21 02:30:00,25.166667,15-18 years,Male,INDIA,SBO,(b)(7)(E ),NaN
13,2017-01-20 01:20:00,2017-01-24 17:30:00,112.166667,6-8 years,Male,HONDURAS,SBO,(b)(7)(E ),NaN
14,2017-01-20 01:20:00,2017-01-20 13:40:00,12.333333,9-11 years,Female,EL SALVADOR,SBO,(b)(7)(E ),NaN